1. Given a year, determine whether it is a leap year. If it is a leap year, return the Boolean True, otherwise return False.

   Input 1990
   
   Output False

In [19]:
#function to find leap year: if the yr is divisible by 4 check further. if its divisible by 100, it is not a leap yr unless it is also divisible by 400
def is_leap(y):
  return (y % 4 == 0 and y % 100 != 0) or (y % 400 == 0)

#taking i/p from user
y=int(input("Enter a year: "))
print(is_leap(y))

Enter a year: 1990
False

2. Develop a python function to multiply all the numbers in a list. Sample List : (8, 2, 3, -1, 7) Expected Output: -336

In [20]:
#function to multiply the nos
def mul(l):
  m=1
  for i in l:
    m=m*i
  return m

#taking i/p from user in form of list

print("The multiplied value of all the numbers in the list is: ",mul(l))

Enter nos separated by commas: 8,2,3,-1,7
The multiplied value of all the numbers in the list is:  -336

3. Write a Python function to find the maximum of three numbers.

In [22]:
#function to calc max of the 3 nos by using if else loops
def max_of_three(a, b, c):
         if a>=b and a>=c:
           return a
         elif b>=a and b>=c:
           return b
         else:
           return c

# Taking input from the user
a = int(input("Enter 1st no: "))
b = int(input("Enter 2nd no: "))
c = int(input("Enter 3rd no: "))
print("The maximum of three numbers is:", max_of_three(a, b, c))

Enter 1st no: 2
Enter 2nd no: 3
Enter 3rd no: 5
The maximum of three numbers is: 5

4. Define a function that returns Factorial of a number.

In [24]:
#function to calc factorial of the no
def fac(f):
  if f==0 or f==1:
    return 1
  else:
    return f*fac(f-1)

# Taking input from the user
f=int(input("Enter a no: "))
print("The factorial of " + str(n)+ " is "+ str(fac(f)))

Enter a no: 4
The factorial of 4 is 24

5. Define a function that accepts lowercase words and returns uppercase words.

In [25]:
# function to convert the string into upper case
def lower(s):
  return s.upper()

# Taking input from the user
s=input("Enter a lowercase word: ")
print("Uppercase word : ", lower(s))

Enter a lowercase word: hello
Uppercase word :  HELLO

6. Define a function  that returns  Reverse of a number.

In [29]:
#function to reverse the no
def rev(n):
  n=str(n)
  return n[::-1]

# Taking input from the user
n=int(input("Enter a no: "))
rn=rev(n)
print("Reverse of " + str(n)+" is "+rn)

enter a no: 234
Reverse of 234 is 432

7. Write a Python function that checks whether a passed string is a palindrome or not.

In [38]:
#function to check if string is plaindrome
def pal(s):
  return s==s[::-1]

# Taking input from the user
s=input("Enter a string: ")
if  pal(s):
  print("The string is a palindrome")
else:
  print("The string is not a palindrome")

Enter a string: ele
The string is a palindrome

8. Write a Python function that accepts a list as a parameter

In [40]:
#function to calc length of list
def length(l):
    return len(l)

# Taking input from the user
l=list(map(int,input("Enter nos separated by commas: ").split(',')))
print("Length of the list:", length(l))

Enter nos separated by commas: 2,3,4,5,6,0
Length of the list: 6

9. Write a  Python function that accepts a dictionary as a parameter

In [41]:
# printing dictionary
def dict(d):
  print(d)

d={
    'Name':'Gunjan',
    'Age':21,
    'City':'Mumbai'
}
dict(d)

{'Name': 'Gunjan', 'Age': 21, 'City': 'Mumbai'}